{% extends './base.html' %}

<head>
  <link rel="stylesheet" href="{{url_for(" static", filename='css/cliente.css' )}}">

  {% block title %}Medicamentos{% endblock %}
</head>
{% block footerp %}


<!--Header-->
<div>
  <header class="p-3 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

        <div class="dropdown">
          <a href="{{ url_for('homecliente') }}"
            class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <img src="/static/icons/pharmacy.png" width="50" height="50" alt="">
            <span class="fs-5">FARMACLICK</span>
          </a>
        </div>

        <form class="mx-auto" role="search">
          <form class="d-flex" role="search">
            <input type="search" class="form-control" placeholder="Buscar Medicamento" aria-label="Search">

          </form>


          <div class="dropdown">

            <div class="dropdown me-auto">
              <a href="#" class=" link-dark  dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
                style="margin: 50px;">
                <img src="/static/icons/user.png" alt="icon user" width="40" height="40" class="rounded-circle">
              </a>
              <ul class="dropdown-menu text-small">
                <li><a class="dropdown-item" href="{{ url_for('datoscliente') }}">Mi Cuenta</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="{{ url_for('login') }}">Cerrar sesión</a></li>
              </ul>
            </div>
          </div>

          <div>
            <a href="#" class=" link-dark" aria-expanded="false">
              <img src="/static/icons/shoppingCar.png" alt="icon user" width="40" height="40" class="rounded-circle">
            </a>
          </div>
      </div>
    </div>
  </header>
</div>

<div class="container">
  <div class="inicio_adm">
    <div class="card">
      <h3 class="card-header text-center">MIS DATOS PERSONALES</h3>
      <div class="card-body">
        <div class="container text-right">
          <div class="row align-items-start">
            <div class="col">


              <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Nombre</span>
                <input type="text" class="form-control" aria-label="Sizing example input"
                  aria-describedby="inputGroup-sizing-sm" name="txtnombre" value="" required>
              </div>

            </div>
            <div class="col">

              <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Apellido</span>
                <input type="text" class="form-control" aria-label="Sizing example input"
                  aria-describedby="inputGroup-sizing-sm" name="txtapellido" value="" required>
              </div>

            </div>
          </div>

          <div class="row align-items-start">
            <div class="col">
              <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Tipo de documento</span>
                <input type="text" class="form-control" aria-label="Sizing example input"
                  aria-describedby="inputGroup-sizing-sm" name="txttipod" value="" required>
              </div>

            </div>
            <div class="col">
              <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Número</span>
                <input type="text" class="form-control" aria-label="Sizing example input"
                  aria-describedby="inputGroup-sizing-sm" name="txtnumdoc" value="" required>
              </div>

            </div>
          </div>

          <div class="row align-items-start">


            <div class="col">
              <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Celular</span>
                <input type="text" class="form-control" aria-label="Sizing example input"
                  aria-describedby="inputGroup-sizing-sm" name="txtcel" value="" required>
              </div>

            </div>
            <div class="col">
              <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Correo electrónico</span>
                <input type="text" class="form-control" aria-label="Sizing example input"
                  aria-describedby="inputGroup-sizing-sm" name="txtcorreo" value="" required>
              </div>

            </div>
          </div>
          <div class="row align-items-start">

            <div class="col">
              <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Contraseña actual</span>
                <input type="text" class="form-control" aria-label="Sizing example input"
                  aria-describedby="inputGroup-sizing-sm" name="txtcodest" value="" required>
              </div>

            </div>
            <div class="col">
              <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Nueva contraseña</span>
                <input type="text" class="form-control" aria-label="Sizing example input"
                  aria-describedby="inputGroup-sizing-sm" name="txtsemes" value="" required>
              </div>

            </div>
          </div>
        </div>
        <div>
          <div class="form-check py-3">
            <input type="checkbox" class="form-check-input" id="same-address">
            <label class="form-check-label" for="same-address">Confirmo que soy mayor de edad y acepto los Términos y
              Condiciones, y la Autorizacion para tratamiento de
              datos
              personales e inscripción al programa Vive Consentido.</label>
          </div>
        </div>
        <div class="centrarButton py-3">
          <a class="btn btn-success" href="{{ url_for('homecliente') }}" role="button">Guardar</a>
          <a class="btn btn-danger" href="{{ url_for('homecliente') }}" role="button">Volver a tu cuenta</a>
        </div>
      </div>
    </div>
  </div>
  <hr>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
{{super()}}

{% endblock %}