{% extends './base.html' %}

<head>
  <link rel="stylesheet" href="{{url_for(" static", filename='css/cliente.css' )}}">

  {% block title %}Medicamentos{% endblock %}
</head>
{% block footerp %}




<!--Header-->
<div>
  <header class="p-3 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

        <div class="dropdown">
          <a href="{{ url_for('homecliente') }}"
            class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <img src="/static/icons/pharmacy.png" width="50" height="50" alt="">
            <span class="fs-5">FARMACLICK</span>
          </a>
        </div>

        <form class="mx-auto" role="search">
          <form class="d-flex" role="search">
            <input type="search" class="form-control" placeholder="Buscar Medicamento" aria-label="Search">

          </form>


          <div class="dropdown">

            <div class="dropdown me-auto">
              <a href="#" class=" link-dark  dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
                style="margin: 50px;">
                <img src="/static/icons/user.png" alt="icon user" width="40" height="40" class="rounded-circle">
              </a>
              <ul class="dropdown-menu text-small">
                <li><a class="dropdown-item" href="{{ url_for('datoscliente') }}">Mi Cuenta</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="{{ url_for('login') }}">Cerrar sesión</a></li>
              </ul>
            </div>
          </div <div>
          <a href="#" class=" link-dark" aria-expanded="false">
            <img src="/static/icons/shoppingCar.png" alt="icon user" width="40" height="40" class="rounded-circle">
          </a>
      </div>
    </div>
</div>
</header>
</div>

<!-- Clasificación Productos -->
<div class="container">
  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between ">
      <a class="p-2 link-secondary text-decoration-none" href="{{ url_for('medicamentoscliente') }}">Medicamentos</a>
      <a class=" p-2 link-secondary text-decoration-none" href="{{ url_for('cuidadopersonal') }}">Cuidado
        Personal</a>
      <a class=" p-2 link-secondary text-decoration-none" href="{{ url_for('dermacosmetica') }}">Dermacosmética</a>
      <a class=" p-2 link-secondary text-decoration-none" href="{{ url_for('nutricionales') }}">Nutricionales</a>
      <a class=" p-2 link-secondary text-decoration-none" href="{{ url_for('bebe02') }}">Bebé</a>
    </nav>
  </div>
</div>

<div class="container">
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="/static/img/medicamentos/amitriptilina.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">AMITRIPTILINA 25 MG CAJA X 30 TABLETAS RECUBIERTAS</h5>
          <p class="card-text">INFORMACIÓN DE USO MÉDICO, PRODUCTO DE VENTA CON FÓRMULA. CONSULTE A SU MÉDICO NO SE
            AUTO MEDIQUE.</p>
          <h4 class="precios">$16.250</h4>
          <div class="centrarButton">
            <a class="btn btn-primary  btn-sm" href="{{ url_for('comprarproducto') }}" role="button">Comprar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/static/img/medicamentos/amlodipino.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">LOSARTÁN MK 50 MG CAJA CON 30 TABLETAS</h5>
          <p class="card-text">ES UN MEDICAMENTO. NO EXCEDER SU CONSUMO. LEER INDICACIONES Y
            CONTRAINDICACIONES. SI LOS SÍNTOMAS PERSISTEN, CONSULTAR AL MÉDICO.</p>
          <h4 class="precios">$17.500</h4>
          <div class="centrarButton">
            <a class="btn btn-primary  btn-sm" href="{{ url_for('comprarproducto') }}" role="button">Comprar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/static/img/medicamentos/amoxicilina.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">AMOXICILINA 500 MG CAJA CON 50 CÁPSULAS</h5>
          <p class="card-text">ES UN MEDICAMENTO. NO EXCEDER SU CONSUMO. LEER INDICACIONES Y
            CONTRAINDICACIONES. SI LOS SÍNTOMAS PERSISTEN, CONSULTAR AL MÉDICO.</p>
          <h4 class="precios">$27.150</h4>
          <div class="centrarButton">
            <a class="btn btn-primary  btn-sm" href="{{ url_for('comprarproducto') }}" role="button">Comprar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/static/img/medicamentos/aspirina.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ASPIRINA 100 MG CAJA CON 140 TABLETAS</h5>
          <p class="card-text">ES UN MEDICAMENTO. NO EXCEDER SU CONSUMO. LEER INDICACIONES Y
            CONTRAINDICACIONES. SI LOS SÍNTOMAS PERSISTEN, CONSULTAR AL MÉDICO.</p>
          <h4 class="precios">$69.600</h4>
          <div class="centrarButton">
            <a class="btn btn-primary  btn-sm" href="{{ url_for('comprarproducto') }}" role="button">Comprar</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-4 g-4 py-3">
    <div class="col">
      <div class="card h-100">
        <img src="/static/img/medicamentos/atorvastatina.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ATORVASTATINA 10 MG CON 30 TABLETAS</h5>
          <p class="card-text">ES UN MEDICAMENTO. NO EXCEDER SU CONSUMO. LEER INDICACIONES Y
            CONTRAINDICACIONES. SI LOS SÍNTOMAS PERSISTEN, CONSULTAR AL MÉDICO.</p>
          <h4 class="precios">$54.800</h4>
          <div class="centrarButton">
            <a class="btn btn-primary  btn-sm" href="{{ url_for('comprarproducto') }}" role="button">Comprar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/static/img/medicamentos/colecalciferol.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">VITAMIN D3 1000 CON 50 CÁPSULAS BLANDAS</h5>
          <p class="card-text">ES UN MEDICAMENTO. NO EXCEDER SU CONSUMO. LEER INDICACIONES Y
            CONTRAINDICACIONES. SI LOS SÍNTOMAS PERSISTEN, CONSULTAR AL MÉDICO.</p>
          <h4 class="precios">$49.635</h4>
          <div class="centrarButton">
            <a class="btn btn-primary  btn-sm" href="{{ url_for('comprarproducto') }}" role="button">Comprar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/static/img/medicamentos/furosemida.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">FUROSEMIDA 40 MG CAJA CON 100 TABLETAS</h5>
          <p class="card-text">ES UN MEDICAMENTO. NO EXCEDER SU CONSUMO. LEER INDICACIONES Y
            CONTRAINDICACIONES. SI LOS SÍNTOMAS PERSISTEN, CONSULTAR AL MÉDICO.</p>
          <h4 class="precios">$20.950</h4>
          <div class="centrarButton">
            <a class="btn btn-primary  btn-sm" href="{{ url_for('comprarproducto') }}" role="button">Comprar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/static/img/medicamentos/lansoprazol.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">LANSOPRAZOL 30 MG CAJA CON 28 CÁPSULAS</h5>
          <p class="card-text">ES UN MEDICAMENTO. NO EXCEDER SU CONSUMO. LEER INDICACIONES Y
            CONTRAINDICACIONES. SI LOS SÍNTOMAS PERSISTEN, CONSULTAR AL MÉDICO.</p>
          <h4 class="precios">$25.200</h4>
          <div class="centrarButton">
            <a class="btn btn-primary  btn-sm" href="{{ url_for('comprarproducto') }}" role="button">Comprar</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="/static/img/medicamentos/omeprazol.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">OMEPRAZOL 20 MG CAJA CON 10 CÁPSULAS</h5>
          <p class="card-text">ES UN MEDICAMENTO. NO EXCEDER SU CONSUMO. LEER INDICACIONES Y
            CONTRAINDICACIONES. SI LOS SÍNTOMAS PERSISTEN, CONSULTAR AL MÉDICO.</p>
          <h4 class="precios">$3.800</h4>
          <div class="centrarButton">
            <a class="btn btn-primary  btn-sm" href="{{ url_for('comprarproducto') }}" role="button">Comprar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/static/img/medicamentos/paracetamol.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Paracetamol 20 MG CAJA CON 10 CÁPSULAS</h5>
          <p class="card-text">ES UN MEDICAMENTO. NO EXCEDER SU CONSUMO. LEER INDICACIONES Y
            CONTRAINDICACIONES. SI LOS SÍNTOMAS PERSISTEN, CONSULTAR AL MÉDICO.</p>
          <h4 class="precios">$23.800</h4>
          <div class="centrarButton">
            <a class="btn btn-primary  btn-sm" href="{{ url_for('comprarproducto') }}" role="button">Comprar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/static/img/medicamentos/ramipril.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Ramipril 30 MG CAJA CON 20 CÁPSULAS</h5>
          <p class="card-text">ES UN MEDICAMENTO. NO EXCEDER SU CONSUMO. LEER INDICACIONES Y
            CONTRAINDICACIONES. SI LOS SÍNTOMAS PERSISTEN, CONSULTAR AL MÉDICO.</p>
          <h4 class="precios">$32.100</h4>
          <div class="centrarButton">
            <a class="btn btn-primary  btn-sm" href="{{ url_for('comprarproducto') }}" role="button">Comprar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/static/img/medicamentos/salbutamol.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">SALBUTAMOL 100 MCG CAJA CON FRASCO INHALADOR CON 200 DOSIS</h5>
          <p class="card-text">ES UN MEDICAMENTO. NO EXCEDER SU CONSUMO. LEER INDICACIONES Y
            CONTRAINDICACIONES. SI LOS SÍNTOMAS PERSISTEN, CONSULTAR AL MÉDICO.</p>
          <h4 class="precios">$13.450</h4>
          <div class="centrarButton">
            <a class="btn btn-primary  btn-sm" href="{{ url_for('comprarproducto') }}" role="button">Comprar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Paginacion -->
  <div class="py-4">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item disabled">
          <a class="page-link">Vista previa</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Siguiente</a>
        </li>
      </ul>
    </nav>
  </div>
  <hr>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
{{super()}}

{% endblock %}