{% extends './base.html' %}

<head>
  <link rel="stylesheet" href="{{url_for(" static", filename='css/cliente.css' )}}">

  {% block title %}Nutricionales{% endblock %}
</head>
{% block footerp %}


<!--Header-->
<div>
  <header class="p-3 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

        <div class="dropdown">
          <a href="{{ url_for('homecliente') }}"
            class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <img src="/static/icons/pharmacy.png" width="50" height="50" alt="">
            <span class="fs-5">FARMACLICK</span>
          </a>
        </div>

        <form class="mx-auto" role="search">
          <form class="d-flex" role="search">
            <input type="search" class="form-control" placeholder="Buscar Medicamento" aria-label="Search">

          </form>


          <div class="dropdown">

            <div class="dropdown me-auto">
              <a href="#" class=" link-dark  dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
                style="margin: 50px;">
                <img src="/static/icons/user.png" alt="icon user" width="40" height="40" class="rounded-circle">
              </a>
              <ul class="dropdown-menu text-small">
                <li><a class="dropdown-item" href="{{ url_for('datoscliente') }}">Mi Cuenta</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="{{ url_for('login') }}">Cerrar sesión</a></li>
              </ul>
            </div>
          </div>

          <div>
            <a href="#" class=" link-dark" aria-expanded="false">
              <img src="/static/icons/shoppingCar.png" alt="icon user" width="40" height="40" class="rounded-circle">
            </a>
          </div>
      </div>
    </div>
  </header>
</div>

<!-- Clasificación Productos -->
<div class="container">
  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between ">
      <a class="p-2 link-secondary text-decoration-none" href="{{ url_for('medicamentoscliente') }}">Medicamentos</a>
      <a class=" p-2 link-secondary text-decoration-none" href="{{ url_for('cuidadopersonal') }}">Cuidado
        Personal</a>
      <a class=" p-2 link-secondary text-decoration-none" href="{{ url_for('dermacosmetica') }}">Dermacosmética</a>
      <a class=" p-2 link-secondary text-decoration-none" href="{{ url_for('nutricionales') }}">Nutricionales</a>
      <a class=" p-2 link-secondary text-decoration-none" href="{{ url_for('bebe02') }}">Bebé</a>
    </nav>
  </div>
</div>

<div class="container">
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="/static/img/nutricionales/Biocalcium.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">BIOCALCIUM D 500 MG / 200 U.I CAJA CON 60 SOBRES</h5>
          <p class="card-text">ES UN MEDICAMENTO. NO EXCEDER SU CONSUMO. LEER INDICACIONES Y
            CONTRAINDICACIONES. SI LOS SÍNTOMAS PERSISTEN, CONSULTAR AL MÉDICO.</p>
          <h4 class="precios">$64.950</h4>
          <div class="centrarButton">
            <a class="btn btn-primary  btn-sm" href="{{ url_for('comprarproducto') }}" role="button">Comprar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/static/img/nutricionales/biosil.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">BIOSIL CAJA CON FRASCO CON 60 CÁPSULAS</h5>
          <p class="card-text">SUPLEMENTO DIETARIO ESTE PRODUCTO ES UN SUPLEMENTO DIETARIO. NO ES UN MEDICAMENTO Y NO
            SUPLE UNA ALIMENTACIÓN
            EQUILIBRADA. MANTÉNGASE FUERA DEL ALCANCE DE LOS NIÑOS.</p>
          <h4 class="precios">$142.800</h4>
          <div class="centrarButton">
            <a class="btn btn-primary  btn-sm" href="{{ url_for('comprarproducto') }}" role="button">Comprar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/static/img/nutricionales/calcibond.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">CALCIBON D PROMOCIÓN CAJA CON 60 TABLETAS + 30 TABLETAS</h5>
          <p class="card-text">ES UN MEDICAMENTO. NO EXCEDER SU CONSUMO. LEER INDICACIONES Y CONTRAINDICACIONES. SI
            LOS SÍNTOMAS PERSISTEN, CONSULTAR
            AL MÉDICO.</p>
          <h4 class="precios">$98.650</h4>
          <div class="centrarButton">
            <a class="btn btn-primary  btn-sm" href="{{ url_for('comprarproducto') }}" role="button">Comprar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/static/img/nutricionales/ensoy.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ENSOY VAINILLA TARRO CON 400 G</h5>
          <p class="card-text">NO ES UN MEDICAMENTO Y NO SUPLE UNA ALIMENTACIÓN EQUILIBRADA. MANTÉNGASE FUERA DEL
            ALCANCE DE LOS NIÑOS. NO EXCEDER SU
            CONSUMO. LEER INDICACIONES Y CONTRAINDICACIONES.</p>
          <h4 class="precios">$48.350</h4>
          <div class="centrarButton">
            <a class="btn btn-primary  btn-sm" href="{{ url_for('comprarproducto') }}" role="button">Comprar</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-4 g-4 py-3">
    <div class="col">
      <div class="card h-100">
        <img src="/static/img/nutricionales/ensure.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ENSURE ADVANCE SABOR A VAINILLA TARRO CON 850 G</h5>
          <p class="card-text">NO ES UN MEDICAMENTO Y NO SUPLE UNA ALIMENTACIÓN EQUILIBRADA. MANTÉNGASE FUERA DEL
            ALCANCE DE LOS NIÑOS. NO EXCEDER SU
            CONSUMO. LEER INDICACIONES Y CONTRAINDICACIONES.</p>
          <h4 class="precios">$115.000</h4>
          <div class="centrarButton">
            <a class="btn btn-primary  btn-sm" href="{{ url_for('comprarproducto') }}" role="button">Comprar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/static/img/nutricionales/gestavit.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">GESTAVIT DHA CAJA CON 30 CÁPSULAS BLANDAS DE GELATINA</h5>
          <p class="card-text">ES UN MEDICAMENTO. NO EXCEDER SU CONSUMO. LEER INDICACIONES Y CONTRAINDICACIONES. SI
            LOS SÍNTOMAS PERSISTEN, CONSULTAR
            AL MÉDICO.</p>
          <h4 class="precios">$80.300</h4>
          <div class="centrarButton">
            <a class="btn btn-primary  btn-sm" href="{{ url_for('comprarproducto') }}" role="button">Comprar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/static/img/nutricionales/glucerna.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">GLUCERNA POLVO SABOR VAINILLA TARRO CON 900 G</h5>
          <p class="card-text">SUPLEMENTO DIETARIO ESTE PRODUCTO ES UN SUPLEMENTO DIETARIO. NO ES UN MEDICAMENTO Y NO
            SUPLE UNA ALIMENTACIÓN
            EQUILIBRADA. MANTÉNGASE FUERA DEL ALCANCE DE LOS NIÑOS.</p>
          <h4 class="precios">$114.300</h4>
          <div class="centrarButton">
            <a class="btn btn-primary  btn-sm" href="{{ url_for('comprarproducto') }}" role="button">Comprar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/static/img/nutricionales/vitacerebrina.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">VITACEREBRINA JARABE CAJA CON FRASCO CON 180 ML - SABOR A NARANJA</h5>
          <p class="card-text">SUPLEMENTO DIETARIO. RECONSTITUYENTE DEL CEREBRO Y LOS NERVIOS REMINERALIZANTE Y
            RESTAURADOR DE LOS GLÓBULOS ROJOS, EN
            LA SANGRE Y DE INSUPERABLE EFICACIA EN LA RESTAURACIÓN DEL NERVIO ÓPTICO.</p>
          <h4 class="precios">$39.400</h4>
          <div class="centrarButton">
            <a class="btn btn-primary  btn-sm" href="{{ url_for('comprarproducto') }}" role="button">Comprar</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="/static/img/nutricionales/vitae.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">PROMOCIÓN VITA E 400 UI 2 CAJAS CON 50 CÁPSULAS BLANDAS C/U</h5>
          <p class="card-text">UES UN MEDICAMENTO. NO EXCEDER SU CONSUMO. LEER INDICACIONES Y CONTRAINDICACIONES. SI
            LOS SÍNTOMAS PERSISTEN, CONSULTAR
            AL MÉDICO.
          </p>
          <h4 class="precios">$40.150</h4>
          <div class="centrarButton">
            <a class="btn btn-primary  btn-sm" href="{{ url_for('comprarproducto') }}" role="button">Comprar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/static/img/nutricionales/vitaminac.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">VITA C SABOR A NARANJA 500 G CAJA CON 100 TABLETAS MASTICABLES</h5>
          <p class="card-text">ES UN MEDICAMENTO. NO EXCEDER SU CONSUMO. LEER INDICACIONES Y CONTRAINDICACIONES. SI
            LOS SÍNTOMAS PERSISTEN, CONSULTAR
            AL MÉDICO.</p>
          <h4 class="precios">$49.750</h4>
          <div class="centrarButton">
            <a class="btn btn-primary  btn-sm" href="{{ url_for('comprarproducto') }}" role="button">Comprar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/static/img/nutricionales/vitybell.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">SYNDERM SCRUB CAJA CON FRASCO CON 120 ML - LIMPIADOR ASTRINGENTE</h5>
          <p class="card-text">LIMPIADOR Y ASTRINGENTE PROFUNDO PARA PIELES GRASOSAS Y CON TENDENCIA AL ACNÉ.</p>
          <h4 class="precios">$67.150</h4>
          <div class="centrarButton">
            <a class="btn btn-primary  btn-sm" href="{{ url_for('comprarproducto') }}" role="button">Comprar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/static/img/nutricionales/macucaps.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">VITYBELL CAJA CON 30 CÁPSULAS BLANDAS</h5>
          <p class="card-text">SUPLEMENTO DIETARIO ESTE PRODUCTO ES UN SUPLEMENTO DIETARIO. NO ES UN
            MEDICAMENTO Y NO SUPLE UNA ALIMENTACIÓN EQUILIBRADA. MANTÉNGASE FUERA DEL ALCANCE DE LOS NIÑOS. NO EXCEDER
            SU CONSUMO.
            LEER INDICACIONES Y CONTRAINDICACIONES. SI LOS SÍNTOMAS PERSISTEN, CONSULTAR AL MÉDICO.</p>
          <h4 class="precios">$101.700</h4>
          <div class="centrarButton">
            <a class="btn btn-primary  btn-sm" href="{{ url_for('comprarproducto') }}" role="button">Comprar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Paginacion -->
  <div class="py-4">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item disabled">
          <a class="page-link">Vista previa</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Siguiente</a>
        </li>
      </ul>
    </nav>
  </div>
  <hr>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
{{super()}}

{% endblock %}