<!DOCTYPE html>
<html lang="es">
<head>
	<title>Cuidado personal</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="{{url_for("static", filename='/css/admin.css')}}">
</head>
<body>
	<!-- SideBar -->
	<section class="full-box cover dashboard-sideBar">
		<div class="full-box dashboard-sideBar-bg btn-menu-dashboard"></div>
		<div class="full-box dashboard-sideBar-ct">
			<!--SideBar Title -->
			<div class="full-box text-uppercase text-center text-titles dashboard-sideBar-title">
				FarmaClick <i class="zmdi zmdi-close btn-menu-dashboard visible-xs"></i>
			</div>
			<!-- SideBar User info -->
			<div class="full-box dashboard-sideBar-UserInfo">
				<figure class="full-box">
					<img src="/static/img/avatar.jpg" alt="UserIcon">
					<figcaption class="text-center text-titles">Juan Gonzales</figcaption>
				</figure>
				<ul class="full-box list-unstyled text-center">
					<li>
						<a href="#!" class="btn-exit-system">
							<i class="zmdi zmdi-power"></i>
						</a>
					</li>
				</ul>
			</div>
			<!-- SideBar Menu -->
			<ul class="list-unstyled full-box dashboard-sideBar-Menu">
				<li>
					<a href="{{ url_for('home_admin') }}">
						<i class="zmdi zmdi-view-dashboard zmdi-hc-fw"></i> Panel de control
					</a>
				</li>
				<li>
					<a href="#!" class="btn-sideBar-SubMenu">
						<i class="zmdi zmdi-case zmdi-hc-fw"></i>  Gestión productos <i class="zmdi zmdi-caret-down pull-right"></i>
					</a>
					<ul class="list-unstyled full-box">
						<li> 
							<a href="{{ url_for('cuidado_personal') }}"><i class="glyphicon glyphicon-tint zmdi-hc-fw"></i>Cuidado personal</a>
						</li>
						<li>
							<a href="{{ url_for('dermacosmetico') }}"><i class="glyphicon glyphicon-ok zmdi-hc-fw"></i>Dermacosmeticos</a>
						</li>
						<li> 
							<a href="{{ url_for('nutricional') }}"><i class="glyphicon glyphicon-grain zmdi-hc-fw"></i>Nutricionales</a>
						</li>
						<li> 
							<a href="{{ url_for('bebe') }}"><i class="glyphicon glyphicon-baby-formula zmdi-hc-fw"></i>Bebé</a>
						</li>
						<li>
							<a href="{{ url_for('medicamento') }}"><i class="glyphicon glyphicon-minus zmdi-hc-fw"></i>Medicamentos</a>
						</li>
					</ul>
				</li>
				
				<li>
					<a href="#!" class="btn-sideBar-SubMenu">
						<i class="zmdi zmdi-account-add zmdi-hc-fw"></i> Gestíon usuarios <i class="zmdi zmdi-caret-down pull-right"></i>
					</a>
					<ul class="list-unstyled full-box">
						<li>
							<a href="{{ url_for('gestionadmin') }}"><i class="zmdi zmdi-account zmdi-hc-fw"></i> Administrador</a>
						</li>
						<li>
							<a href="{{ url_for('gestioncliente') }}"><i class="zmdi zmdi-male-alt zmdi-hc-fw"></i> Cliente</a>
						</li>
		
					</ul>
				</li>

			</ul>
		</div>
	</section>

	<!-- Content page-->
	<section class="full-box dashboard-contentPage">
		<!-- NavBar -->
		<nav class="full-box dashboard-Navbar">
			<ul class="full-box list-unstyled text-right">
				<li class="pull-left">
					<a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
				</li>

				<li>
					<a href="#!" class="btn-modal-help">
						<i class="zmdi zmdi-help-outline"></i>
					</a>
				</li>
			</ul>
		</nav>
		<!-- Content page -->
		<div class="container-fluid">
			<div class="page-header">
			  <h1 class="text-titles text-center"><i class="glyphicon glyphicon-grain zmdi-hc-fw"></i> Administracion de productos nutricionales</h1>
			</div>
			<p class="lead text-center">Esta sección permite operar sobre los productos nutricionales
			</p>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
					<ul class="nav nav-tabs" style="margin-bottom: 15px;">
						
						<li><a href="#listprod" data-toggle="tab"><i class="glyphicon glyphicon-eye-open"></i> Lista de productos</a></li>
						<li><a href="#adicionar" data-toggle="tab"><i class="glyphicon glyphicon-plus"></i> Adicionar producto</a></li>
				
					  	
					</ul>
					<div class="tab-content">
						<div class="tab-pane fade active in" id="adicionar">
							<div class="container-fluid">
								<div class="row">
									<div class="col-12 col-md-10 col-md-offset-1">
									    <form action="">
									    	<div class="form-group label-floating">
											  <label class="control-label">Nombre</label>
											  <input class="form-control" type="text">
											</div>
											<div class="form-group label-floating">
											  <label class="control-label">Descripcion</label>
											  <input class="form-control" type="text">
											</div>
											<div class="form-group label-floating">
											  <label class="control-label">Cantidad</label>
											  <textarea class="form-control"></textarea>
											</div>
											<div class="form-group label-floating">
											  <label class="control-label">Precio</label>
											  <input class="form-control" type="text">
											</div>
											
											<div class="form-group label-floating">
											  <label class="control-label">Proveedor</label>
											  <input class="form-control" type="text">
											</div>
											<div class="form-group">
										        <label class="control-label">Fecha Vencimiento</label>
										        <input class="form-control" type="date">
										    </div>
											<div class="form-group">
										      <label class="control-label">Imagen</label>
										      <div>
										        <input type="text" readonly="" class="form-control" placeholder="Abrir Explorador">
										        <input type="file" >
										      </div>
										    </div>
												<div class="row">
													<div class="col">
														<p class="text-center">
															<button href="#!" class="btn btn-danger btn-raised btn-sm"><i class="glyphicon glyphicon-remove-circle"></i> Cancelar</button>
															<button href="#!" class="btn btn-info btn-raised btn-sm"><i class="zmdi zmdi-floppy"></i> Guardar</button>

														</p>
													</div>
												</div>
											
		

									    </form>
									</div>
								</div>
							</div>
						</div>

					  	<div class="tab-pane fade" id="listprod">
							<div class="table-responsive">
								<table class="table table-hover text-center">
									<thead>
										<tr>
											<th class="text-center">#</th>
											<th class="text-center">Nombre</th>
											<th class="text-center">Cantidad disponible</th>
											<th class="text-center">Precio</th>
											<th class="text-center">Fecha Vencimiento
											<th class="text-center">Modificar
											</th>
											<th class="text-center">Eliminar</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>1</td>
											<td>Period 1</td>
											<td>Active</td>
											<td>23/01/2017</td>
											<td>23/03/2017</td>
										
											<td>
												<a href="#!" class="btn btn-success btn-raised btn-xs" data-toggle="modal" data-target="#editar" data-whatever="@fat"
												  ><i class="zmdi zmdi-edit"></i
												></a>
					  
											  </td>
											  <td>
												<a href="#!" class="btn btn-danger btn-raised btn-xs" data-toggle="modal" data-target="#eliminarp"
												><i class="zmdi zmdi-delete"></i
											  ></a>
											  </td>
										</tr>
										<tr>
											<td>2</td>
											<td>Period 2</td>
											<td>Active</td>
											<td>24/03/2017</td>
											<td>23/06/2017</td>
									
											<td><a href="#!" class="btn btn-success btn-raised btn-xs"><i class="zmdi zmdi-edit"></i></a></td>
											<td><a href="#!" class="btn btn-danger btn-raised btn-xs"><i class="zmdi zmdi-delete"></i></a></td>
										</tr>
										<tr>
											<td>3</td>
											<td>Period 3</td>
											<td>Active</td>
											<td>24/06/2017</td>
											<td>23/09/2017</td>
											
											<td><a href="#!" class="btn btn-success btn-raised btn-xs"><i class="zmdi zmdi-edit"></i></a></td>
											<td><a href="#!" class="btn btn-danger btn-raised btn-xs"><i class="zmdi zmdi-delete"></i></a></td>
										</tr>
									</tbody>
								</table>
								<div class="text-center">
									<ul class="pagination pagination-sm">
										<li class="disabled"><a href="#!">«</a></li>
										<li class="active"><a href="#!">1</a></li>
										<li><a href="#!">2</a></li>
										<li><a href="#!">3</a></li>
										<li><a href="#!">4</a></li>
										<li><a href="#!">5</a></li>
										<li><a href="#!">»</a></li>
									</ul>
								</div>
							</div>
					  	</div>
					</div>
				</div>
			</div>
		</div>
	</section>

   <!-- Modificar producto -->
   <section>
	<div class="modal fade" id="editar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title " id="exampleModalLabel"><h3 class="text-center">Modificar producto</h3></h5>
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<div class="modal-body">
			  <form>
				<form  ROLE="FORM" METHOD="POST" ENCTYPE="MULTIPART/FORM-DATA" ACTION="">
					<div class="row">
						<div class="col-md-12">
							<div class="mb-3 px-5">
								<input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre" required>
							</div>
							<div class="mb-3">
								<input type="number" class="form-control" id="cantidad" name="cantidad" placeholder="Cantidad disponible" required>
							</div>
							<div class="mb-3">
								<input type="number" class="form-control" id="precio" name="precio" placeholder="Precio" required>
							</div>
							<div class="mb-3">
								<input type="date" class="form-control" id="fechaven" name="fechaven" placeholder="Fecha Vencimiento" required>
							</div>
							
						</div>

					</div>
				</form>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
			  <button type="button" class="btn btn-primary">Cambiar</button>
			</div>
		  </div>
		</div>
	  </div>
</section>

<!-- Cuadro de dialogo Eliminar -->
<section>
	<!-- Modal -->
	<div class="modal fade" id="eliminarp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel"><h3 class="text-center">Eliminacion de producto</h3></h5>
			</div>
			<div class="modal-body">
				<p class="text-center text-white bg-dar">Esta seguro de eliminar el registro?</p>
			</div>
			<div class="modal-footer">
			<button type="button" class="btn btn-warning">Si</button>
			<button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
			</div>
		</div>
		</div>
	</div>
</section>

	<!--Ventana dialogo de ayuda -->
	<div class="modal fade" tabindex="-1" role="dialog" id="Dialog-Help">
		<div class="modal-dialog" role="document">
		  <div class="modal-content">
			  <div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				  <h4 class="modal-title text-center">Ayuda</h4>
			  </div>
			  <div class="modal-body">
				  <p class="text-justify">
					  A traves de esta seccion el administrador tiene los permisos
					  para visualizar la cantidad de clientes y administradores registrados,
					  asi como realizar operaciones de registro, modificacion y eliminacion
					  de los productos ofrecidos por la farmacia, adicionalmente es capaz
					  de generar reportes de ventas
				  </p>
			  </div>
				<div class="modal-footer">
  
				  <button type="button" class="btn btn-primary btn-raised " data-dismiss="modal"> Ok</button>
			  
				</div>
		  </div>
		</div>
  </div>
	<!--====== Scripts -->
	<script src="/static/js/jquery-3.1.1.min.js"></script>
	<script src="/static/js/sweetalert2.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/material.min.js"></script>
	<script src="/static/js/ripples.min.js"></script>
	<script src="/static/js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="/static/js/admin.js"></script>
	<script>
		$.material.init();
	</script>
</body>
</html>