
{% extends 'base_admin.html' %}
  {% block title %}GestionCliente{% endblock %}

{% block content %}

	<!-- Content page-->
	<section class="full-box dashboard-contentPage">
		<!-- NavBar -->
		<nav class="full-box dashboard-Navbar">
			<ul class="full-box list-unstyled text-right">
				<li class="pull-left">
					<a href="#!" class="btn-menu-dashboard"><i class="glyphicon glyphicon-th-list"></i></a>
				</li>
	
				<li>
					<a href="#!" class="btn-modal-help">
						<i class="glyphicon glyphicon-info-sign"></i>
					</a>
				</li>
			</ul>
		</nav>
		<!-- Content page -->
		<div class="container-fluid">
			<div class="page-header">
			  <h1 class="text-titles text-center"><i class="glyphicon glyphicon-user zmdi-hc-fw"></i>Panel de gestión de clientes</h1>
			</div>
			<p class="lead">En este apartado esta diseñado para visualizar la informacion de los clientes, asi como modificar y eliminar la informacion almacenada</p>
		</div>
		<div class="tab-content">

			  <div class="tab-pane active in" id="listAdm">
				<div class="table-responsive">
					<table class="table table-hover text-center">
						<thead>
							<tr>
								<th class="text-center">#</th>
								<th class="text-center">Nombre</th>
								<th class="text-center">Apellido</th>
								<th class="text-center">Direccion</th>
								<th class="text-center">Correo</th>
								<th class="text-center">Telefono</th>
			
								<th class="text-center">Genero</th>
								<th class="text-center">Modificar</th>
								<th class="text-center">Eliminar</th>
							</tr>
						</thead>
						<tbody>
							{% for dato in usuarios %}
							<tr>
								<td>{{dato[0]}}</td>
								<td>{{dato[2]}}</td>
								<td>{{dato[3]}}</td>
								<td>{{dato[5]}}</td>
								<td>{{dato[4]}}</td>
								<td>{{dato[6]}}</td>
								<td>{{dato[7]}}</td>
							
								<td>
																{# Pasar el id (lo que hay en juego[0] #}
								 <a href="{{url_for('administrador.editar_usuario', id=dato[0])}}" class="btn btn-success btn-raised btn-xs""
									><i class="glyphicon glyphicon-edit"></i></a>
		  
								  </td>
								  <td>
									<form action="{{url_for('administrador.eliminar_usuario')}}" method="POST">
										<input type="hidden" name="id" value="{{dato[0]}}">
										<button class="btn btn-danger btn-raised btn-xs"><i class="glyphicon glyphicon-remove-circle"></i></button>
									</form>

								  </td>
							</tr>
							
							{% endfor %}
						</tbody>
					</table>
					<div class="text-center">
						<ul class="pagination pagination-sm">
							<li class="disabled"><a href="#!">«</a></li>
							<li class="active"><a href="#!">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#!">3</a></li>
							<li><a href="#!">4</a></li>
							<li><a href="#!">5</a></li>
							<li><a href="#!">»</a></li>
						</ul>
					</div>
				</div>
			  </div>
		</div>
	</section>


   <!-- Modificar cleinte -->
   <section>
	<div class="modal fade" id="editarcl" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title " id="exampleModalLabel"><h3 class="text-center">Modificar datos del cliente</h3></h5>
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<div class="modal-body">
			  <form>
				<form  ROLE="FORM" METHOD="POST" ACTION="">
					<div class="row">
						<div class="col-md-6">
							<div class="mb-3 px-5">
								<input type="text" class="form-control" id="nombrecl" name="nombrecl" placeholder="Nombre" required>
							</div>
							<div class="mb-3">
								<input type="number" class="form-control" id="direccioncl" name="direccioncl" placeholder="Direccion" required>
							</div>
							<div class="mb-3">
								<input type="number" class="form-control" id="telefonocl" name="telefonocl" placeholder="Telefono" required>
							</div>
							
						</div>
						<div class="col-md-6">
							<div class="mb-3 ">
								<input type="text" class="form-control" id="apelldiocl" name="apelldiocl" placeholder="Apellido" required>
							</div>
							<div class="mb-3">
								<input type="number" class="form-control" id="correocl" name="correocl" placeholder="Correo" required>
							</div>
							<div class="mb-3 ">
								<div class="form-group" id="generoad" name="generoad">
									<label class="control-label">Genero</label>
									<select class="form-control">
									  <option selected>Seleccione una opcion</option>
									  <option>Male</option>
									  <option>Female</option>
									</select>
								</div>
							</div>
	
						</div>


					</div>
				</form>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
			  <button type="button" class="btn btn-primary">Cambiar</button>
			</div>
		  </div>
		</div>
	  </div>
</section>

<!-- Cuadro de dialogo Eliminar -->
<section>
	<!-- Modal -->
	<div class="modal fade" id="eliminarcl" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel"><h3 class="text-center">Eliminación de clientes</h3></h5>
			</div>
			<div class="modal-body">
				<p class="text-center text-white bg-dar">Esta seguro de eliminar el registro?</p>
			</div>
			<div class="modal-footer">
			<button type="button" class="btn btn-warning">Si</button>
			<button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
			</div>
		</div>
		</div>
	</div>
</section>

  {% endblock %}