<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for("static", filename='/css/error404.css')}}">

    {% block title %}Error404{% endblock %}

</head>
<body>
    <h1>Ups, Página no encontrada</h1>
    <p class="zoom-area"> Lo siento, la página que estás buscando no se ha encontrado. </p>
    <section class="error-container">
    <span>4</span>
    <span><span class="screen-reader-text">0</span></span>
    <span>4</span>
    </section>
    <div class="link-container">
    <a target="_blank" href="{{ url_for('autenticar.login') }}" class="more-link">Vamos a la pagina principal</a>
    </div>
</body>
</html>